
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Nunito+Sans:wght@500&display=swap');

body{
    font-family: "Roboto";
    margin: 0;
}


.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

.sidebar{
    width: 270px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 6px 0 #20212447;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.navbar{
    box-shadow: 0 1px 6px 0 #20212447;
    background-color: white;
    padding: 20px;
    height: 30px;
}
.navbar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.navbar input{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.signout-btn{
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #003366;
    transform: scale(0.7);
    font-size: 18px;
}
main{
    margin-left: 270px;
}
.main-content{
    padding: 20px;
}
.sidebar img{
    width: 100px;
    height: 100px;
}

.sidebar ul li {
    margin-bottom: 10px;
    padding: 10px 30px;
    transition: all ease-in 0.2s;
}
.sidebar ul li:hover{
    padding: 10px 50px;
    background-color: #7db9f1;
    border-radius: 5px;
    margin: 10px;
}

.sidebar ul li:hover a{
    color: white;
}
  
  ul li a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  
  ul li a:hover {
    color: #0077cc;
  }
  
  .material-icons {
    margin-right: 8px;
  }
  

  .main-content h1{
    font-family: "DM Sans";
  }